<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GoGrabing.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3FA3BAAD24283F8100EB6B07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FA3BAC624283F8200EB6B07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FA3BAD124283F8200EB6B07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
